@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Dancing+Script:wght@600;700&family=Indie+Flower&family=Limelight&family=Shadows+Into+Light&family=Short+Stack&family=Tangerine:wght@700&display=swap');

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.left_div{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap:40px;
    height: 100%;
}

.right_div{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    box-shadow: none;
    width: 40%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}


div::-webkit-scrollbar{
    display: none;
  }

  .no_underline {
    text-decoration: none;
  }


@media screen and (max-width: 920px) {
    .left_div{
        height: 100%;
        padding: 0% 10% 0% 10%;

    } 
    .right_div{
        width: 70%;
    } 

    body{
        overflow: auto ;
        -webkit-overflow: auto ;
        -webkit-overflow-scrolling: touch;
    }

}

@media screen and (min-width: 920px) {
    .left_div{
        width: 40%;
    } 
}


@media screen and (max-height: 480px) { 
    .left_div{
        height: 100%;
        gap: 10px;
        justify-content: flex-end;
    }
 }

 @media screen and (max-height: 340px) { 
    .left_div{
        gap: 0px;
    }
 }