.container{
    padding-top: 0px;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}

.head{
    align-self:flex-start;
    color: #EFEDFF;
    padding-left: 100px;
    height: 15%;
}

.box{
    align-self:flex-start;
    position: relative;
    width: 100%;
}
 

@media screen and (max-width: 500px) {

    .head{
        padding-left: 30px;
    }
    
}

@media screen and (max-height: 600px) {

    .head{
        padding-left: 30px;
        display: none;
    }
    .box{
        width: 100%;
    }
}

