@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Cinzel+Decorative:wght@700&family=Dancing+Script:wght@600;700&family=Gabarito:wght@600&family=Indie+Flower&family=Italiana&family=Limelight&family=Love+Ya+Like+A+Sister&family=Nothing+You+Could+Do&family=Shadows+Into+Light&family=Short+Stack&family=Tangerine:wght@700&family=Tilt+Neon&display=swap');

.container{
    display: flex;  
    flex-flow: wrap column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    gap:100px;
}

.head{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self:flex-start;
    color: #EFEDFF;
    padding-left: 100px;
    height: 20%;
}

.box{
    position: relative;
    width: 150px;
    height: 260px;
    border-radius: 10px;
    transform-style: preserve-3d;
    animation: animate 15s linear infinite;

    --count: 5;
    --radius: 320px;
}

.box:hover {
    animation-play-state: paused;
  }
  
@keyframes animate {
    0% {
        transform: perspective(800px) rotateY(0deg);
    }
    100%{
        transform: perspective(800px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    width:100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    /* transform: rotateY(calc(var(--i)* 60deg)) translateZ(320px); */
    transform: rotateY(calc(var(--i) * (360deg / var(--count)))) translateZ(var(--radius));
    -webkit-box-reflect:below 0px linear-gradient(transparent, transparent, #0004);
}

.box span .card {
    border-radius: 10px 10px 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 920px) {
  .box { --radius: 250px; }
  .head { padding-left: 30px; }
}

@media screen and (max-width: 600px) {
  .box { --radius: 150px; }
  .box span { -webkit-box-reflect: none; }
}

@media screen and (max-width: 350px) {
  .box { --radius: 130px; }
  .box span { -webkit-box-reflect: none; }
  .head { padding-left: 0px; }
}

@media screen and (max-height: 720px) {
  .container { gap: 0px; }
  .box { --radius: 150px; }
  .head { padding-left: 0px; }
}