.container{
    display: flex;  
    flex-flow: wrap column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    gap:100px;
    border: 0px solid yellow;
}

.head{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self:flex-start;
    color: #EFEDFF;
    padding-left: 100px;
    border: 0px solid yellow;
    height: 20%;
}




.box{
    position: relative;
    width: 150px;
    height: 260px;
    border-radius: 10px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
}

.box:hover {
    animation-play-state: paused;
  }
  
@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    width:100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
    -webkit-box-reflect:below 0px linear-gradient(transparent, transparent, #0004);
}

.box span .card {
    border-radius: 10px 10px 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 920px) {
    .box span {
        transform: rotateY(calc(var(--i)* 90deg)) translateZ(150px);
    }
    .head{
        padding-left: 30px;
    }
    /* body{
        overflow: hidden ;
        -webkit-overflow: hidden ;
    } */

}

@media screen and (max-width: 350px) {
    .box span {
        transform: rotateY(calc(var(--i)* 90deg)) translateZ(100px);
        -webkit-box-reflect:none;
    }
    .head{
        padding-left: 0px;
    }
    
}

@media screen and (max-height: 720px) {
    .container{
        gap:0px;
    }
    .box span {
        transform: rotateY(calc(var(--i)* 90deg)) translateZ(100px);
        
    }
    .head{
        padding-left: 0px;
    }
    
}