.nav_link{
    color:#EFEDFF;
    position: relative;
    display:block;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

      
      .nav_link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #CDA716;
        transform-origin: bottom right;
        transition: transform 0.5s ease-out;
      }
      
      .nav_link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
